{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="home-hero">
    <div class="type-text">
        <h1>Welcome to Flashcards</h1>
    </div>

    <div class="right">
        <p>Do you want to get an A in all your classes?</p>
        <p>Join my flashcard app and start studying smarter and get that A!</p>
        <p>Better than any other flashcard app out there!</p>
        <button class="btn"><a href="/users/create">Get Started</a></button>
    </div>
</div>

{% endblock %}
